<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<header>
    <h1>Kundvagn</h1>
</header>


<main>
<section>
    <form id="check" action="">
        <label for="fName">*Förnamn:</label>
        <input id="fName" type="text" placeholder="Förnamn">
        <label for="lName">*Efternamn:</label>
        <input id="lName" type="text" placeholder="Efternamn">
        <label for="eMail">*Epost:</label>
        <input id="eMail" type="email" placeholder="Epost">
        <label for="phone">Telefonnummer:</label>
        <input id="phone" type="number" placeholder="Telefonnummer">
        <label for="address">*Gatuadress:</label>
        <input id="address" type="text" placeholder="Gatuadress">
        <label for="zip">*Postnummer:</label>
        <input id="zip" type="number" placeholder="Postnummer">
        <label for="city">*Stad:</label>
        <input id="city" type="text" placeholder="Stad">
        <label for="comment">Meddelande:</label>
        <textarea id="comment" rows="6" placeholder="Skriv ditt meddelande till oss här"></textarea>
        <button  id="send" type="submit">Skicka</button>
    </form>
</section>
</main>
<script type="text/javascript" src="../script/checkout.js"></script>
</body>
</html>