body{
    background: honeydew;
    color: cornflowerblue;
    width: 100%;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    text-align: right;
    margin-right: 2%;
}

a:hover{
    font-size: large;
}

p{
    margin-top: 1%;
    margin-bottom: 0;
}

#productO{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

div{
    width: 30%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    margin-bottom: 1%;
}

img{
     height: 100px;
     width: 150px;
     border: solid black 1px;
}

section > form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

section > form > input{
    margin-bottom: 4px;
}

button{
    margin-top: 4px;
    color: black;
    background-color: gainsboro;
    border: solid black 1px;
}